<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="card-title mb-0">{{selectedRecipe.name}}</h5>

    <!-- Manage Button -->
    <div class="btn-group">
      <button type="button" appDropdown #dropdown="appDropdown" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
      <ul class="dropdown-menu dropdown-menu-end" [class.show]="dropdown.isShow">
        <li><a class="dropdown-item cursor-pointer" (click)="addToShoppingList(selectedRecipe.ingredients)">To Shopping List</a></li>
        <li><a class="dropdown-item cursor-pointer" (click)="handleEdit()">Edit</a></li>
        <li><a class="dropdown-item cursor-pointer" (click)="handleDelete()">Delete</a></li>
      </ul>
    </div>
    <!-- End: Manage Button -->
  </div>
  <div class="card-body">
    <!-- Image of Recipe -->
    <img [src]="selectedRecipe.imagePath" class="img-fluid mb-3 rounded" alt="Recipe Image">
    <!-- End: Image of Recipe -->

    <!-- Description -->
    <p class="text-muted">{{selectedRecipe.description }}</p>
    <!-- End: Description -->

    <!-- Ingredients -->
    <p class="fw-bold">Ingredients:</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
    <!-- End: Ingredients -->
  </div>
</div>